<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"       parallel="methods">
<listeners>
        <listener class-name="utility.Listener" />
    </listeners>
 
  <test thread-count="5" name="Test1">
 	<classes>
 	<class name="script.ValidLogin"></class>
 	</classes>
 </test> <!-- Test -->  
 <test name="Suite1">
     <classes>
       <class name="script.InvalidLogin"/>
     </classes>
   </test>
    <test name="Suite2">
     <classes>
       <class name="script.Sla"/>
     </classes>
   </test>
</suite> <!-- Suite -->